<style type="text/css">
.order-item{
	margin: 0 0 10px 10px;
	display: inline-block;
	font-size: 20px;
}
</style>
<% if flash[:alert] %>
	<%= flash[:alert] %>
<% end %>
<table class="table table-striped table-bordered">
	<tr>
		<td>订单</td>
		<td><%= @order.id %></td>
	</tr>
	<tr>
		<td>用户</td>
		<td><%= @order.user.username %></td>
	</tr>
	<tr>
		<td>收货人</td>
		<td><%= text_field "order", "consignee_name" %></td>
	</tr>
	<tr>
		<td>收货地址</td>
		<td><%= text_field "order", "consignee_address" %></td>
	</tr>
	<tr>
		<td>联系方式</td>
		<td><%= text_field "order", "consignee_phone" %></td>
	</tr>
	<tr>
		<td>订单金额</td>
		<td><%= text_field "order", "total_price" %></td>
	</tr>
	<tr>
		<td>备注</td>
		<td><%= text_field "order", "remark" %></td>
	</tr>
	<tr>
		<td>订单日期</td>
		<td><%= @order.created_at %></td>
	</tr>
	<tr>
		<td>订单状态</td>
		<td><%= select "order", "status", OrderStatus.all.collect {|ft| [ ft.show_text, ft.flag ] }, { include_blank: true } %></td>
		
	</tr>
</table>
<div class="label label-success order-item">订单明细</div>
<table class="table table-striped table-bordered">
	<tr>
		<th>商品</th>
		<th>单价</th>
		<th>数量</th>
		<th>规格</th>
		<th>库存</th>
	</tr>

	<%= render :partial=> "order_item_form", :collection => @order_items %>

	</table>