<style type="text/css">
.button_to{
	float:left;
}
</style>

<% fruit = order_item.fruit %>
<% price_p = fruit.price_present.to_f %>
<tr>
	<td>
		<%= link_to controller:"fruit", controller:"fruit", action:"show", :id => fruit do %>
			<strong><%= fruit.name %></strong>
		<% end %>
	</td>
	<td><%= order_item.price %></td>
	<td><%= order_item.quantity %></td>
	<td><%= order_item.unit %></td>
	<td><%= fruit.inventory.to_i%></td>
</tr>