<tr>
	<td><%= link_to order.id, :action=> "show", :id => order %></td>
	<td><%= order.user.username %></td>
	<td><%= order.consignee_name %></td>
	<td><%= order.consignee_address %></td>
	<td><%= order.consignee_phone %></td>
	<td><%= order.remark %></td>
	<td><%= order.total_price %></td>
	<td><%= order.created_at %></td>
	<td><%= order.status_text %></td>
	<td><%= link_to "编辑", :action=> "edit", :id => order %></td>
	<td><%= button_to "删除", { :action=> "destroy", :id=> order },
															:confirm => "是否要取消订单：#{order.id}" %></td>
</tr>