<tr>
	<td><%= link_to fruit_type.name, :action=> "show", :id => fruit_type %></td>
	<td><%= fruit_type.description %></td>
	<td><%= FruitType.find(fruit_type.super_id).name if fruit_type.super_id %></td>
	<td><%= link_to "编辑", :action=> "edit", :id => fruit_type %></td>
	<td><%= button_to "删除", { :action=> "destroy", :id=> fruit_type },
															:confirm => "是否要删除水果种类：#{fruit_type.name}" %></td>
</tr>