<table class="table table-striped table-bordered">
	<tr>
		<td>类别名称</td>
		<td>类别描述</td>
		<td>父类</td>
	</tr>
	<tr>
		<td><%= @fruit_type.name %></td>
		<td><%= @fruit_type.description %></td>
		<td><%= FruitType.find(@fruit_type.super_id).name if @fruit_type.super_id %></td>
	</tr>
</table>
<%= link_to "返回", :action => "index" %>
<%= link_to "编辑", :action=> "edit", :id => @fruit_type %>