<div id="hd_nav">
	<div class="fruit_type">
		<div class="fruit_type_nav fl">
			<div class="btn-group">
				<button type="button" class="btn btn-type-nav">漂亮的首页</button>
			</div>
			<% FruitType.where( :super_type_id => nil ).each do |suptype| %>
				<div class="btn-group">
					<button type="button" class="btn btn-type-nav dropdown-toggle" data-toggle="dropdown">
						<%= suptype.type_name %>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<% FruitType.where( :super_type_id => suptype.id ).each do |subtype| %>
							<li><a href="#"><%= subtype.type_name %></a></li>
						<% end %>
					</ul>
				</div>	
			<% end %>
		</div>
	</div>
</div>

<div id="flashbox" style="position:relative; width:100%">
	<div class="flash" style="margin:2px auto; width:1200px; height:370px; border:1px solid pink;">
		flashbox(各种广告)
	</div>
</div>

<div style="width:100%; position:relative;">
	<div style="width:1200px; margin:2px auto; height:auto">
		<% Fruit.all.each do |fruit| %>
			<div style="width:300px; height:400px;" class="fr">
				<div style="padding:25px;">
					<img style="margin:2px audio;" width="250px" height="250px"></img>
				</div>
				<div style=" text-align:center; ">
					<span><%= fruit.id %></span>
					<span><%= fruit.fruit_name %></span>
					<span><%= fruit.origin_place %></span>
					<span><%= fruit.price_present %></span>
				</div>
			</div>
		<% end %>
	</div>
</div>


<% if flash[:notice] %>
	<script>
		window.alert("恭喜您，注册成功！");
	</script>
<% end %>