<div id="fruit_show">
	<div class="particular_fruit">
	
		<!-- 商品归属目录树 -->
		<%= render :partial=> "shared/crumb" %>
	
		<div class="fruit_info">
			<div class="fruit_info_wrap">
				<!-- 商品图片展示 -->
				<div class="fruit_pics">
					<div class="pics_wrapper">
						<div class="pic" id="pic">
							<% images = get_images(@fruit.id) %>
							<!-- 放大图片 -->
							<!-- <div class="dis MagicZoomSmallImageCont" name="p" id="sc2">
								<%= image_tag "fruit_images/#{@fruit.id}_270_270_1.jpg", :id => "sim2", :width => "400px", :alt =>"#{@fruit.name}" %>
								<div id="bc2" class="MagicZoomBigImageCont" style="width:300px; height:300px; left: 322px; top: 0px">
									<%= image_tag "fruit_images/1_270_270_1.jpg", :id=> "bim2", :width => "400px", :alt =>"#{@fruit.name}" %>
								</div>
							</div> -->
							<% images.each do |im| %>
								<div class=<%= im==images.first ? "dis" : "undis" %> name="p"><%= image_tag "fruit_images/#{im}", :width => "400px", :alt =>"#{@fruit.name}" %></div>
							<% end %>
						</div>
						<div id="simg" class="pic_slider">
							<ul class="pic_list">
								<% images.each do |image| %>
									<li onmouseover="play(this,'pic','');">
										<%= image_tag "fruit_images/#{image}", :width => "70px", :alt =>"#{ image.to_s}" %>
									</li>
								<% end%>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- 商品信息展示 -->
				<div class="fruit_main_info">
					<div class="infos">
						<div class="title"><%= @fruit.price_present %><%= @fruit.name %></div>
						<div class="brief_intro"><%= @fruit.price_present %><%= @fruit.brief_introduction %></div>
						<div class="price">
							<%= @fruit.price_present %>
							<%= @fruit.unit %>
							<!-- some others -->
						</div>
						<div class="information"><%= @fruit.introduction %></div>
						<div class="sold_quantity"><%= "销量" %></div>
						<%= form_tag action:"add_to_cart" do %>
						<div class="choose_quantity">
							<%= number_field_tag 'num', value="1", style:"font-size:20px;height:40px;" %>
							<%= hidden_field_tag 'id', value=@fruit.id %>
						</div>
						<div class="shopping_cart">
							<%= submit_tag "加入购物车" %>
						</div>
						<% end%>
						
						
					</div>
				</div>
			</div>
		</div>
		
		<!-- 商品详细信息展示，以及各种图片推介 -->
		<div class="pannel">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" id="mytab">
				<li class="active"><a href="" data-toggle="tab">商品详情</a></li>
				<li><a href="#profile" data-toggle="tab">商品评论</a></li>
				<li><a href="#messages" data-toggle="tab">商品购买记录</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane active" id="home">
					<div class="detail_info_pics_and_text wrap_detail">
						<% intro_images = get_intro_images(@fruit.id) %>
						<% intro_images.each do |im| %>
							<div class="pics"><%= image_tag "fruit_intro_images/#{im}", :alt =>"#{@fruit.name}" %></div>
						<% end %>
						<div class="text"></div>
					</div>
				</div>
				<div class="tab-pane active" id="profile">
					<!-- 商品评论 -->
					<div class="comments wrap_detail">
						<div class="user_score">
							<h2>用户评价<small style="color:red">（<%= @fruit.comments.count %>）</small></h2>
							<!-- <div class="score">
								<div class="total_score">
										<ul>
											<li style="width:150px;height:30px;"><span>好评度</span></li>
											<li style="width:150px;height:30px;"><span style="font-size:40px">93%</span></li>
											<li style="width:150px;height:30px;">
												<%= image_tag "star-on.png", :alt => "1" %>&nbsp;
												<%= image_tag "star-on.png", :alt => "2" %>&nbsp;
												<%= image_tag "star-on.png", :alt => "3" %>&nbsp;
												<%= image_tag "star-on.png", :alt => "4" %>&nbsp;
												<%= image_tag "star-on.png", :alt => "5" %>
											</li>
										</ul>
										
								</div>
								<div class="percent_score">
									<ul>
										<li style="width:400px;height:30px">
											<span style="float:left;width:100px">好评（93%）</span>
											<div class="progress" style="width:200px;height:15px;">
												<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
											</div>
										</li>
										<li style="width:400px;height:30px">
											<span style="float:left;width:100px">中评（3%）</span>
											<div class="progress" style="width:200px;height:15px;">
												<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 3%"></div>
											</div>
										</li>
										<li style="width:400px;height:30px">
											<span style="float:left;width:100px">差评（2%）</span>
											<div class="progress" style="width:200px;height:15px;">
												<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 2%"></div>
											</div>
										</li>
									</ul>
								</div>
							</div> -->
						</div>
						<div class="detail_comments">
							<% @fruit.comments.each do |comment| %>
							<div class="comment">
								<div class="user">
									<ul>
										<li><%= image_tag "fruit_home_user.png", style:"width:70px;border:1px solid greenyellow" %></li>
										<li><span><%= comment.user.username %></span></li>
									</ul>
								</div>
								<div class="comment_item">
									<div class="comment_content">
										<span><%= comment.content %></span>
									</div>
									<div class="topic">
										<ul>
											<li>
												<%= image_tag "star-on.png", :alt => "1" %>&nbsp;
												<%= image_tag "star-on.png", :alt => "2" %>&nbsp;
												<%= image_tag "star-on.png", :alt => "3" %>&nbsp;
												<%= image_tag "star-on.png", :alt => "4" %>&nbsp;
												<%= image_tag "star-on.png", :alt => "5" %>
											</li>
											<li>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
											<li><span><%= comment.created_at.getlocal.to_s[0..19] %></span></li>
										</ul>
									</div>
								</div>
							</div>							
							<% end %>
						</div>
					</div>
				</div>
				<div class="tab-pane active" id="messages">
					<!-- 商品购买记录 -->
					<div class="deal_record wrap_detail">
						<table class="tb-list table" summary="买家出价记录" server-num="detailskip010236177043.cm4">
							<thead>
								<tr>
									<th class="tb-buyer">买家</th>
									<th class="tb-price">拍下价格</th>
									<th class="tb-amount">数量</th>
									<th class="tb-sku">款式和型号</th>
									<th class="tb-start">付款时间</th>
								</tr>
							</thead>
							<tbody>
								<% @fruit.orders.where(status:[3]).each do |order| %>
								<tr>
									<% item=order.order_items.where(fruit_id:@fruit.id).first %>
									<td class="tb-buyer"><%= order.user.username %></td>
									<td class="tb-price">¥<%= item.price %></td>
									<td class="tb-amount"><%= item.quantity %></td>
									<td class="tb-sku"><%= item.unit %></td>
									<td class="tb-start"><%= item.updated_at.getlocal.to_s[0..19] %></td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		<!--div class="xinxi">
			<div class="monthly_sales"></div>
		</div-->
	</div>
</div>
<script type="text/javascript">
  $("#mytab li:first").click(function(){
		$('.tab-pane').addClass("active");
  })
	$(".pic_list li:first").addClass("s")
</script>
<script type="text/javascript">
    var settings = {
        bigImage_always_visible: false,
        drag_mode: false
    };
    zoom = new MagicZoom('sc2', 'sim2', 'bc2', 'bim2', settings);
    zoom.initZoom();
</script>



<% if flash[:notice] %>
	<script>
		//window.alert("恭喜您，注册成功！");
	</script>
<% end %>