<div id="fruit_show">
	<div class="particular_fruit">
	
		<!-- 商品归属目录树 -->
		<%= render :partial=> "shared/crumb" %>
	
		<div class="fruit_info">
			<div class="fruit_info_wrap">
				<!-- 商品图片展示 -->
				<div class="fruit_pics">
					<div class="pics_wrapper">
						<div class="pic" id="pic">
							<% images = get_images(@fruit.id) %>
							<!-- 放大图片 -->
							<!-- <div class="dis MagicZoomSmallImageCont" name="p" id="sc2">
								<%= image_tag "fruit_images/#{@fruit.id}_270_270_1.jpg", :id => "sim2", :width => "400px", :alt =>"#{@fruit.name}" %>
								<div id="bc2" class="MagicZoomBigImageCont" style="width:300px; height:300px; left: 322px; top: 0px">
									<%= image_tag "fruit_images/1_270_270_1.jpg", :id=> "bim2", :width => "400px", :alt =>"#{@fruit.name}" %>
								</div>
							</div> -->
							<% images.each do |im| %>
								<div class=<%= im==images.first ? "dis" : "undis" %> name="p"><%= image_tag "fruit_images/#{im}", :width => "400px", :alt =>"#{@fruit.name}" %></div>
							<% end %>
						</div>
						<div id="simg" class="pic_slider">
							<ul class="pic_list">
								<% images.each do |image| %>
									<li onmouseover="play(this,'pic','');">
										<%= image_tag "fruit_images/#{image}", :width => "70px", :alt =>"#{ image.to_s}" %>
									</li>
								<% end%>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- 商品信息展示 -->
				<div class="fruit_main_info">
					<div class="infos">
						<div class="info">
							<div class="title"><h1><%= @fruit.name.to_s + "   " + @fruit.unit.to_s %></h1></div>
							<div class="price">
								<span style="text-decoration:line-through;color:gray;display:block;">&yen;<%= @fruit.price_other %></span>
								<span style="font-size:30px;color:red;">&yen;<%= @fruit.price_present %></span>
								<%= @fruit.unit %>
								<!-- some others -->
							</div>
							<div class="sold_quantity">
								<span>总销量：<%= @fruit.orders.where(status:[4,9]).count %></span>
							</div>
							<div class="brief_intro">
								<h3>商品简介</h3>
								<p style="display:block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;text-indent:2em;"><%= @fruit.brief_introduction.to_s %></p>
								<p style="display:block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;text-indent:2em;"><%= @fruit.introduction.to_s %></p>
							</div>
						</div>
						<div class="add_to_cart">
							<%= form_tag action:"add_to_cart" do %>
							<div class="choose_quantity">
								<%= number_field_tag 'num', value="1", style:"font-size:20px;height:40px;" %>
								<%= hidden_field_tag 'id', value=@fruit.id %>
							</div>
							<div class="shopping_cart">
								<%= submit_tag "加入购物车", class:"btn btn-danger" %>
							</div>
							<% end%>
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 商品详细信息展示，以及各种图片推介 -->
		<div class="pannel">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" id="mytab">
				<li class="active"><a href="" data-toggle="tab">商品详情</a></li>
				<!-- <li><a href="#profile" data-toggle="tab">商品评论</a></li> -->
				<li><a href="#messages" data-toggle="tab">商品购买记录</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane active" id="home">
					<div class="fruit_inro wrap_detail">
						<div><p style="font-size:15px;text-indent:2em;"><%= @fruit.brief_introduction %></p></div>
					</div>
					<div class="detail_info_pics_and_text wrap_detail">
						<% intro_images = get_intro_images(@fruit.id) %>
						<% intro_images.each do |im| %>
							<div class="pics"><%= image_tag "fruit_intro_images/#{im}", :alt =>"#{@fruit.name}" %></div>
						<% end %>
						<div class="text"></div>
					</div>
				</div>
				
				
					<!-- 商品评论 -->
				
				
				
				<div class="tab-pane active" id="messages">
					<!-- 商品购买记录 -->
					<div class="deal_record wrap_detail">
						<table class="tb-list table" summary="买家出价记录" server-num="detailskip010236177043.cm4">
							<thead>
								<tr>
									<th class="tb-buyer">买家</th>
									<th class="tb-price">拍下价格</th>
									<th class="tb-amount">数量</th>
									<th class="tb-sku">规格</th>
									<th class="tb-start">付款时间</th>
								</tr>
							</thead>
							<tbody>
								<% @fruit.orders.where(status:[4,9]).each do |order| %>
								<tr>
									<% item=order.order_items.where(fruit_id:@fruit.id).first %>
									<td class="tb-buyer"><%= order.user.username %></td>
									<td class="tb-price">¥<%= item.price %></td>
									<td class="tb-amount"><%= item.quantity %></td>
									<td class="tb-sku"><%= item.unit %></td>
									<td class="tb-start"><%= item.updated_at.getlocal.to_s[0..19] %></td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		<!--div class="xinxi">
			<div class="monthly_sales"></div>
		</div-->
	</div>
</div>
<script type="text/javascript">
  $("#mytab li:first").click(function(){
		$('.tab-pane').addClass("active");
  })
	$(".pic_list li:first").addClass("s")
</script>
<script type="text/javascript">
    var settings = {
        bigImage_always_visible: false,
        drag_mode: false
    };
    zoom = new MagicZoom('sc2', 'sim2', 'bc2', 'bim2', settings);
    zoom.initZoom();
</script>



<% if flash[:notice] %>
	<script>
		//window.alert("恭喜您，注册成功！");
	</script>
<% end %>