<style type="text/css">
.self-center ul li a, .website ul li a {
	padding-left:0px;
}
</style>
<div id="global_top_bar">
	<div id="global_top_nav" class="global_top_nav">
		<ul class="top_nav_left">
			<% if current_user %> 
				<li><span>您好，<%= link_to current_user.username, user_information_path %></span></li>
				<li><span><%= link_to "退出", logout_path %></span></li>
			<% else %> 
				<li><span><%= link_to "亲，请登录", login_path %></span></li>
				<li><span><%= link_to "免费注册", register_path %></span></li>
			<% end %>
		</ul>
		
		<ul class="top_nav_right">
			<li class="btn-group">
				<div class="self-center">
					<span class="dropdown-toggle" data-toggle="dropdown"><a>个人中心</a><i class="icon-chevron-down"></i></span>
					<ul class="dropdown-menu">
						<li>
							<%= link_to order_index_path do %>
								<i class="icon-star"></i>
								<span>我的订单</span>
							<% end %>
						</li>
						<li>
							<%= link_to user_information_path do %>
								<i class="icon-star"></i>
								<span>我的账户</span>
							<% end %>
						</li>
						<!-- <li><a href="#"><i class="icon-tag"></i> 我的优惠</a></li> -->
						<li class="divider"></li>
						<li>
							<%= link_to logout_path do %>
								<i class="icon-tint"></i>
								<span>退出</span>
							<% end %>
						</li>
					</ul>
				</div>
			</li>
			<li class="btn-group">
				<span class=""><%= link_to "我的收藏夹", order_collection_path %></span>
				<!-- <span class="dropdown-toggle" data-toggle="dropdown"><a href="#">我的收藏夹</a><i class="icon-chevron-down"></i></span>
				<ul class="dropdown-menu">
					<li><a href="#"><i class="icon-star"></i>水果</a></li>
					<li><a href="#"><i class="icon-star"></i>类别</a></li>
				</ul> -->
			</li>
			<li class="">
				<span class=""><a href="http://localhost:3000/search">所有商品</a></span>
			</li>
			<li class="">
				<span class=""><a href="http://localhost:3000/user/information">客户中心</a></span>
			</li>
			<li class="btn-group">
				<div class="website">
					<span class="dropdown-toggle" data-toggle="dropdown"><a href="#">网站导航</a><i class="icon-chevron-down"></i></span>
					<ul class="dropdown-menu">
						<li>
							<%= link_to root_path do %>
								<i class="icon-star"></i>水果之家
							<% end %>
						</li>
						<li>
							<%= link_to "http://www.taobao.com" do %>
								<i class="icon-star"></i>淘宝
							<% end %>
						</li>
						<li>
							<%= link_to admin_user_index_path do %>
								<i class="icon-user"></i>我是管理员
							<% end %>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>