<div id="site_header">
	<div class="header_wrapper">
		<div class="hd_logo fl">
			<a href="http://localhost:3000/"><%= image_tag "fruit_home_logo.png", width:"175px" %></a>
		</div>
		<div class="hd_search fl">
			<div class="hd_search_form">
				<form action="http://localhost:3000/search">
				<div class="input-group">
					<input type="text" placeholder="请输入关键词" name="key_word" class="form-control" style="width:250px;"></input>
					<input type="submit" value="搜索" class="btn btn-default"></input>
				</div>
				</form>
			</div>
			<p id="hot_keyword" class="hd_hot_keyword_search">
				<span>果友都在找：</span>
				<!-- put the hot word here, 存放热词数组 -->
				<% ["苹果","梨子","送礼","礼包","春季","特惠","学生"].each do |word| %>
					<%= link_to word, search_path, key_word:word %>
				<% end %>
			</p>
		</div>
		<div class="hd_banner fl">
			<div class="cart">
				<div class="btn-group">
					<button type="button" class="btn btn-type-nav">
					<span class="icon32 icon-orange icon-cart"></span>
					<%= link_to cart_show_path, style: "color:white;" do %>
						<span>我的购物车 </span>
						<span class="notification red"><%= @cart.order_items.length %></span>
					<% end %>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>


<style type="text/css">
.btn-group button {
	font-size:20px;
	letter-spacing:5px;
}
</style>
<div id="hd_nav">
	<div class="fruit_type">
		<div class="fruit_type_nav fl">
			<div class="btn-group">
				<button type="button" class="btn btn-type-nav" onclick="location.href='http://localhost:3000/'">
					水果之家
				</button>
			</div>	
			<% FruitType.where( :super_id => nil ).each do |suptype| %>
				<div class="btn-group">
					<button type="button" class="btn btn-type-nav dropdown-toggle" data-toggle="dropdown">
						<%= suptype.name %>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<% FruitType.where( :super_id => suptype.id ).each do |subtype| %>
							<li>
								<%= link_to subtype.name, controller:"fruit", action:"search", key_word:subtype.name %>
							</li>
						<% end %>
					</ul>
				</div>	
			<% end %>
			<div class="btn-group">
				<button type="button" class="btn btn-type-nav dropdown-toggle" data-toggle="dropdown">
					国内鲜果
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<% OriginPlace.where( :super_id => 1 ).each do |subtype| %>
						<li>
							<%= link_to subtype.name, controller:"fruit", action:"search", key_word:subtype.name %>
						</li>
					<% end %>
				</ul>
			</div>	
			<div class="btn-group">
				<button type="button" class="btn btn-type-nav dropdown-toggle" data-toggle="dropdown">
					进口鲜果
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<% OriginPlace.where( :super_id => nil ).where.not(name: "中国大陆").each do |subtype| %>
						<li>
							<%= link_to subtype.name, controller:"fruit", action:"search", key_word:subtype.name %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>