<div id="site_header">
	<div class="header_wrapper">
		<div class="hd_logo fl">
			<a href="http://localhost:3000/"><%= image_tag("fruit_home_logo.png") %></a>
		</div>
		<div class="hd_search fl">
			<div class="hd_search_form">
				<form action="http://localhost:3000/search">
					<input type="text" placeholder="请输入关键词" name="key_word"></input>
					<input type="submit" value="搜索"></input>
				</form>
			</div>
			<p id="hot_keyword" class="hd_hot_keyword_search">
				<span>果友都在找：</span>
				<a href="#">苹果</a>
				<a href="#">梨子</a>
				<a href="#">送礼</a>
				<a href="#">礼包</a>
				<a href="#">春季</a>
				<a href="#">特惠</a>
				<a href="#">学生</a>
			</p>
		</div>
		<div class="hd_banner fl">
			<div class="cart">
				<div class="btn-group">
					<button type="button" class="btn btn-type-nav">
					<span class="icon32 icon-orange icon-cart"></span>
					<%= link_to cart_show_path, style: "color:white;" do %>
						<span>我的购物车 </span>
						<span class="notification red"><%= @cart.order_items.length %></span>
					<% end %>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="hd_nav">
	<div class="fruit_type">
		<div class="fruit_type_nav fl">
			<div class="btn-group">
				<button type="button" class="btn btn-type-nav">漂亮的首页</button>
			</div>	
			<% FruitType.where( :super_id => nil ).each do |suptype| %>
				<div class="btn-group">
					<button type="button" class="btn btn-type-nav dropdown-toggle" data-toggle="dropdown">
						<%= suptype.name %>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<% FruitType.where( :super_id => suptype.id ).each do |subtype| %>
							<li><a href="#"><%= subtype.name %></a></li>
						<% end %>
					</ul>
				</div>	
			<% end %>
			<div class="btn-group">
				<button type="button" class="btn btn-type-nav dropdown-toggle" data-toggle="dropdown">
					<%= "国内" %>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<% OriginPlace.where( :super_id => 1 ).each do |subtype| %>
						<li><a href="#"><%= subtype.name %></a></li>
					<% end %>
				</ul>
			</div>	
			<div class="btn-group">
				<button type="button" class="btn btn-type-nav dropdown-toggle" data-toggle="dropdown">
					<%= "进口" %>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<% OriginPlace.where( :super_id => nil ).where.not(name: "中国大陆").each do |subtype| %>
						<li><a href="#"><%= subtype.name %></a></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>