<!DOCTYPE html>
<html>
<head>
	<title><%= @page_title || "FruitHome"%></title>
	<!--% if @page_title %--><!--h1><%= @page_title %></h1--><!--% end %-->
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<!--%= javascript_include_tag "bootstrap-dropdown", "data-turbolinks-track" => true %-->
	<%= csrf_meta_tags %>
</head>
<body>
<div id="global_top_bar">
	<div id="global_top_nav" class="global_top_nav">
		<ul class="top_nav_left">
			<% if flash[:notice] %>
				<li><span><a href="#"><%= flash[:notice] %></a></span></li>
			<% else %>
				<li><span><a href="#">亲，请登录</a></span></li>
				<li><span><%= link_to "免费注册", register_path %></span></li>
			<% end %>
		</ul>
		
		<ul class="top_nav_right">
			<li class="btn-group">
				<div>
				<span class="dropdown-toggle" data-toggle="dropdown"><a href="#">个人中心</a><i class="icon-chevron-down"></i></span>
				<ul class="dropdown-menu">
					<li><a href="#"><i class="icon-star"></i> 我的订单</a></li>
					<li><a href="#"><i class="icon-tag"></i> 我的优惠</a></li>
					<li class="divider"></li>
					<li><a href="#"><i class="icon-tint"></i>退出</a></li>
				</ul>
				</div>
			</li>
			<li class="btn-group">
				<span class="dropdown-toggle" data-toggle="dropdown"><a href="#">我的收藏夹</a><i class="icon-chevron-down"></i></span>
				<ul class="dropdown-menu">
					<li><a href="#"><i class="icon-star"></i>水果</a></li>
					<li><a href="#"><i class="icon-star"></i>类别</a></li>
				</ul>
			</li>
			<li class="">
				<span class=""><a href="#">商品分类</a></span>
			</li>
			<li class="">
				<span class=""><a href="#">客户服务</a></span>
			</li>
			<li class="btn-group">
				<span class="dropdown-toggle" data-toggle="dropdown"><a href="#">网站导航</a><i class="icon-chevron-down"></i></span>
				<ul class="dropdown-menu">
					<li><a href="#"><i class="icon-star"></i> FruitHome</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<div id="site_header">
	<div class="header_wrapper">
		<div class="hd_logo fl">
			<a href="http://localhost:3000/"><%= image_tag("fruit_home_logo.png") %></a>
		</div>
		<div class="hd_search fl">
			<div class="hd_search_form">
				<input type="text" placeholder="请输入关键词" id="search_word"></input>
				<input type="submit" value="搜索"></input>
			</div>
			<p id="hot_keyword" class="hd_hot_keyword_search">
				<span>果友都在找：</span>
				<a href="#">苹果</a>
				<a href="#">梨子</a>
				<a href="#">送礼</a>
				<a href="#">礼包</a>
				<a href="#">春季</a>
				<a href="#">特惠</a>
				<a href="#">学生</a>
			</p>
		</div>
		<div class="hd_banner fl">
			<div class="cart">
				<div class="btn-group">
					<button type="button" class="btn btn-type-nav">
					<span class="icon32 icon-orange icon-cart"></span>
					<span>我的购物车（3件）</span>
					</button>
				</div>
		</div>
		</div>
	</div>
</div>

<!--div style="clear:both"-->
<div style="position:relative">
	<%= yield %>
</div>


<% if ENV["RAILS_ENV"] == "development" %>
<div class="alert" style="clear:both; ">
	<%= debug(params) %>
</div>
<% end %>

<div id="footer">
	<!--div class="footer_services">
		<strong>各种服务</strong>
	</div-->
	<div class="footer_links">
		<p>
			<%= link_to "关于FruitHome", about_path %>
			<strong>|</strong>
			<%= link_to "我们的团队", "#" %>
			<strong>|</strong>
			<%= link_to "联系我们", "#" %>
			<strong>|</strong>
			<%= link_to "人才招聘", "#" %>
			<strong>|</strong>
			<%= link_to "友情链接", "#" %>
			<strong>|</strong>
			<%= link_to "广告服务", "#" %>
		</p>
	</div>
	<div class="footer_copyright">
		<p>Copyright© FruitHome 2014-2014， Not All Rights Reserved</p>
		</div>
	<div class="footer_authentication">
		<%= image_tag("authentication.png", style: "cursor:pointer", alt: "尚未取得的授权", title: "尚未取得的授权") %>
	</div>
</div>
</body>
</html>
